<main class="page-template">
  <article>

    {{#if @page.show_title_and_feature_image}}
      {{#if feature_image}}
        <figure class="post-feature-image">
          <img src="{{feature_image}}" alt="{{title}}">
        </figure>
      {{/if}}
      <h1 class="page-title">{{title}}</h1>
    {{/if}}

    {{content}}

  </article>
</main>
